.header {
    font-size: 18px;
    font-weight: 700;

}

.container {
    background-color: rgb(65, 83, 164);
    color: white;
    padding: 25px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    

}